//IMAGES:
$riva1:'/img/riva1.jpg';
$riva2:'/img/riva2.jpg';
$riva3:'/img/riva3.jpg';
$riva4:'/img/riva4.jpg';

//COLORS:
$light_gray:#BFBABF;
$gris:#7F7C7F;
$dark_gray:#403E40;
$blanc_fonce:#403E40;

//TRANSPARENT COLORS:
$trans_light_gray: rgba(191,186,191,0.7);
$trans_gris: rgba(127,124,127,0.7);
$trans_dark_gray: rgba(64,62,64,0.7);
$trans_blanc_fonce: rgba(229,224,229, 0.7);

